<div class="container-fluid">
    <div class="row justify-content-center pad-about">
        <div class="col-11 col-md-6 box-about">
            <h2>Acerca de CursoIDE</h2>
            <hr>
            <p>Este proyecto fue creado para Programadores Chile y como trabajo final de Curso Intensivo Angular 11 cursado en Junio de este año 2022. Mi nombre es Cristian Vargas García de la ciudad de Pichilemu. VI Región de Chile.</p>
            <p>Gracias por visitar.</p>
        </div>
    </div>
</div>
