.footer{
    background: var(--grey4);
    color:white;
    padding:2em;
    position:relative;
    z-index: 999;
}

.footer h3{
    color:white;
    text-transform: initial;
    letter-spacing: unset;
}

.forma,
.forma2{
    padding:1em;
    background-color: var(--grey2);
    border-radius:5px;
    color: black;
}

.forma2{
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 300;
}

.tec span{
    font-weight: 400;
}

@media (min-width:767px) {
    .footer{
        padding:3em;
    }

    .forma{
        padding:2em;
    }
}