.pad-home{
    padding: 4.8em 0 0 0;
    position: relative;
}

.texto-home{
    position:absolute;
    bottom:0;
    padding:1em;
}

.texto-home h1{
    text-transform: initial;
    letter-spacing: unset;
    color:white;
    font-family: 'Abril Fatface', cursive;
    font-weight: 100;
}

.texto-home p{
    font-size: 1rem;
    font-weight: 300;
    padding:1em 1em 0em 1em;
    text-align: center;
}

/** SECCION SEARCH */

.search{
    margin-top:2em;
    background-color:var(--grey2);
    padding:1em;
}

.search h2{
    text-transform: initial;
    letter-spacing: unset;
}

.search input{
    width:100%;
    border-radius:10px;
    padding:.7em;
    border: none;
    margin-top:1em;
}

/** SECCION PRODUCTS */

.products{
    background-color: var(--grey3);
    padding: 2em 0;
}

.mat-card{
    font-family:'Lexend Deca', sans-serif !important;
}

.mat-card-header .mat-card-title{
    font-size:1rem !important;
}

.example-card {
    max-width: 400px;
}

.box{
    padding:1em;
}
  
.price{
    font-weight: 400;
    font-size: 1.5rem;
}

.price small{
    text-decoration: line-through;
    opacity:.8;
}

.no-muestra{
    font-weight: 300;
    font-size: 1.2rem;
}

.nmberPag{
    padding:10px;
    width:40px;
    height: 40px;
    border-radius:50%;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.05);
    background: black;
    color:white;
    border: none;
}

.nmberPag:disabled{
    background:rgba(0,0,0,0.3);
}

.nmberPag2{
    padding:10px 30px;
    border-radius:20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.05);
    border: .5px solid rgba(0,0,0,0.2);
}

@media (min-width:767px) {

    .pad-home{
        padding: 4em 0 0 0;
    }

    .texto-home{
        width: 600px;
        margin-left:5em;
    }

    .texto-home h1{
        font-size: 2.5rem;
        padding-bottom:1.5em;
    }

    .texto-home p{
        font-size: 1.5rem;
        padding:1em;
    }

    /** SEARCH */

    .search{
        padding:2em
    }

    .search input,
    .search h2{
        margin:0;
    }

    /** PRODUCTS */

    .products{
        padding:5em;
    }
}