<div class="container-fluid">
    <div class="row p-0">
        <div class="col-12 pad-home">
            <div class="texto-home">
                <h1>Haz que el aprendizaje te acompañe en tus vacaciones</h1>
                <p>Ahora tienes cursos desde solo 8.900 CLP$. Consigue un 15 % de descuento adicional sobre el precio rebajado con el código GIFT15 hasta el 15 de diciembre.</p>
            </div>
            <img src="../../assets/img/hero.png" class="w-100 d-none d-md-block " alt="">
            <img src="../../assets/img/hero-mov.png" class="w-100 d-md-none" alt="">
        </div>
    </div>
    
    <!-- SECCION SEARCH -->

    <div class="row justify-content-center search">
        <div class="col-10 col-md-3 align-self-center">
            <h2>Qué te interesa aprender:</h2>
        </div>
        <div class="col-11 col-md-6">
            <input type="text" placeholder="Buscar curso">
        </div>
    </div>

    <!-- SECCION CURSOS -->

    <div class="row justify-content-center products">
        <div class="col-12 col-md-3">
            <div class="box">
                <img src="../../assets/img/img1.png" class="w-100" alt="">
                <div class="box-texto">
                    <h5>Desarrollo Web Completo con HTML5, CSS3, JS AJAX PHP y MySQL</h5>
                    <p>Juan Pablo De La Torre Valdes</p>
                    <p class="price">$9900 <small>$10960</small> </p>
                    <button class="btn btn-outline-success w-100 mt-2">Agregar a carrito</button>
                </div>  
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="box">
                <img src="../../assets/img/img1.png" class="w-100" alt="">
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="box">
                <img src="../../assets/img/img1.png" class="w-100" alt="">
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="box">
                <img src="../../assets/img/img1.png" class="w-100" alt="">
            </div>
        </div>
    </div>
</div>