.error{
    background-color: var(--grey);
}

.anounce{
    padding:2em;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.anounce h2{
    font-size:4rem;
    font-weight: 300;
}

.anounce button{
    background-color: red;
    color: white;
    border-radius:30px;
    padding:.6em;
    width:300px;
    border:none
}